@page
@model GreemDev.Pages.DM

@{
    ViewData["Title"] = "Discord Manager";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Discord Manager</title>
    <link rel="shortcut icon" href="/favicon.ico"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<main>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h1>Discord Manager</h1>
                    <p>
                        <b>What is Discord Manager?</b>
                        <br>Discord Manager is a bot management panel that I self-host. Give it a token, and it will show you stats about the bot that the token is connected to.
                    </p>
                    <h5 id="error"></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <form class="col s12" action="Manager">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="token" type="text" name="token">
                            <label for="token">Token (press enter to continue)</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <p>
                        <b>You can bookmark the manager page to come back to it later without typing your token in again!</b>
                    </p>
                    <img src="g_1x.png"/>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="js/init.js"></script>
<script src="js/login.js"></script>

</body>
</html>
